<div class="container-fluid">
    <h2>Registration User</h2>
    <div class="row">
        <div class="col-4">
            <form #frmRegister="ngForm" >
                <dl>
                    <dt>User Name</dt>
                    <dd><input type="text" required name="UserName" ngModel #UserName="ngModel" minlength="4" ></dd>
                    <dd class="text-danger" *ngIf="UserName.touched && UserName.invalid" >
                        <span *ngIf="UserName.errors?.['required']">UserName Required</span> <br>
                        <span *ngIf="UserName.errors?.['minlength']">Too Shor... min length should be 4 chars</span>
                    </dd>
                    <dt>Password</dt>
                    <dd><input type="password" name="Password" ngModel #Password="ngModel"  required  pattern="(?=.*[A-Z])\w{4,10}"></dd>
                    <dd class="text-danger" *ngIf="UserName.touched && UserName.invalid">
                        <span *ngIf="UserName.errors?.['required']">Password Required</span> <br>
                        <span *ngIf="UserName.errors?.['pattern']">Password should be 4 to 10 char with atleast 1 uppercase.</span>
                    </dd>
                    <dt>Age</dt>
                    <dd><input type="text" name="Age" ngModel #Age="ngModel" required></dd>
                    <dt>Mobile</dt>
                    <dd><input type="text" name="Mobile" ngModel #Mobile="ngModel" required pattern="[789][0-9]{9}"></dd>
                </dl>
                <button [disabled]="frmRegister.invalid">Submit</button>
                <button [disabled]="frmRegister.pristine">Save</button>
        
        
            </form>
        </div>
        <div class="col-8">
            <h2>Status</h2>
            <dl>
                <dt>User Name</dt>
                <dd>{{frmRegister.value | json }}</dd>
                <dt>Pristine</dt>
                <dd>{{frmRegister.pristine}}</dd>
                <dt>Invalid</dt>
                <dd>{{frmRegister.invalid}}</dd>
                <dt>Valid</dt>
                <dd>{{frmRegister.valid}}</dd>
                <dt>Dirty</dt>
                <dd>{{frmRegister.dirty}}</dd>
                <dt>Submitted</dt>
                <dd>{{frmRegister.submitted}}</dd>
            </dl>
        </div>

    </div>

</div>
